extends ../layouts/main-layout.pug

include mixins/_loginForm

block content
    div#login-form.text-center
        if !!errorMessage
            p.border.border-red= errorMessage
        if !!successMessage
            p.border.border-green= successMessage
        +loginForm()
        a(href="/reset") Reset Password?