extends ../layouts/main-layout

block content
    h1 #{pageTitle}
    div#register-form
        form(action="/auth/login", method="post")
            div
                label(for="email") Email 
                input(type="text", name="email", id="email", placeholder="john.doe@gmail.com")
            div
                label(for="password") Password 
                input(type="password", name="password", id="password")
            button(type="submit") Login

    script(src="../../js/register-form.js")