extends ../layouts/main-layout.pug

block content
    h1 Admin Panel
    p Make changes to #[a(href="/shops") shops] or #[a(href="/users") users].

    h3 Quick Add Shop

    include ./add-shop-form

    div.mt-8
        h3 Last completed training
        each user in users
            .h-12.px-4.w-full.border.flex.justify-between.items-center
                p.flex-1= user.name
                p.flex-1= user.score
                //- p.flex-1 #{ Date.now()}

    //- div.mt-8
    //-     h3 Dive Shops
    //-     each shop in shops
    //-         .h-12.px-4.w-full.border.flex.justify-between.items-center
    //-             p.flex-1= shop.name
    //-             p.flex-1= shop.password