extends ../../layouts/main-layout.pug

block content
    h1.border-blue-lighter.border-b-4.mb-4 About Blue Star

    h3 What is Blue Star
    p The Blue Star program was established to recognize tour operators who work to reduce the impact of divers and snorkelers on coral reefs of the Florida Keys. Unlike some of the major causes of reef decline such as climate change, damage to reefs from diving and snorkeling is considered preventable.
    p As a Blue Star partner, your business has voluntarily agreed to educate customers about the coral reef ecosystem, the Sanctuary, and diving and snorkeling etiquette. By passing this information on to visitors who dive or snorkel in the Keys, you are playing an important role in helping to protect our reefs.

    h3 Why Blue Star?
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ipsa aliquam repudiandae, distinctio reiciendis quos odio, nesciunt adipisci quibusdam quas ipsam labore facilis praesentium incidunt eos in illum sit beatae?
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi, tempora. Voluptatibus quam natus, odit, dignissimos eveniet possimus, tempora incidunt expedita magni corrupti totam temporibus ipsum perferendis reiciendis unde est quis!
