nav.flex
    a(href="/").mr-4 Home
    a(href="/shops").mr-4 Shops
    a(href="/training").mr-4 Training
    a(href="/admin").mr-4 Admin
    a(href="/admin/add-shop").mr-4 Add Shop
    a(href="/auth/register").mr-4 Register
    a(href="/auth/login").mr-4 Login