nav.flex.mt-2.mb-2
    a(class="hover:bg-blue-lighter p-2 mr-1 bg-blue-lightest rounded", href="/") Home
    a(class="hover:bg-blue-lighter p-2 mr-1 bg-blue-lightest rounded", href="/about") About
    a(class="hover:bg-blue-lighter p-2 mr-1 bg-blue-lightest rounded", href="/training") Training
    a(class="hover:bg-blue-lighter p-2 mr-1 bg-blue-lightest rounded", href="/community") Community
    unless loggedInUser
        a(class="hover:bg-blue-lighter p-2 mr-1 bg-blue-lightest rounded", href="/register") Register
        a(class="hover:bg-blue-lighter p-2 mr-1 bg-blue-lightest rounded", href="/login") Login
    else
        if loggedInUser.isAdmin
            a(class="hover:bg-blue-lighter p-2 mr-1 bg-blue-lightest rounded", href="/admin") Admin
            a(class="hover:bg-blue-lighter p-2 mr-1 bg-blue-lightest rounded", href="/shops") Shops
            a(class="hover:bg-blue-lighter p-2 mr-1 bg-blue-lightest rounded", href="/admin/add-shop") Add Shop
        a(class="hover:bg-blue-lighter p-2 mr-1 bg-blue-lightest rounded", href="/users/me") Me
        form(action="/logout", method="post")
            input(type="hidden", name="_csrf", value=csrfToken)
            button(class="hover:bg-blue-lighter p-2 mr-1 bg-blue-lightest rounded", type="submit") Logout