include ../includes/head
body.bg-blue-dark.container.mx-auto
    include ../includes/dev-nav
    .container.mx-auto.px-2.pt-2.pb-4.flex.flex-wrap.bg-white.rounded
        h1.w-full Developer Stuff
        block content