doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="/css/main.css")
        title #{ pageTitle } | Blue Star
body.bg-blue-dark.container.mx-auto
    nav
        .flex.flex-wrap.mt-2.mb-2.text-center
            a(class="flex-1 hover:bg-blue-lighter p-2 mr-1 bg-blue-lightest rounded", href="/about") About
            a(class="flex-1 hover:bg-blue-lighter p-2 mr-1 bg-blue-lightest rounded", href="/") Home
            a(class="flex-1 hover:bg-blue-lighter p-2 mr-1 bg-blue-lightest rounded", href="/training") Training
            a(class="flex-1 hover:bg-blue-lighter p-2 mr-1 bg-blue-lightest rounded", href="/community") Community
            unless user
                a(class="flex-1 hover:bg-blue-lighter p-2 mr-1 bg-blue-lightest rounded", href="/register") Register
                a(class="flex-1 hover:bg-blue-lighter p-2 mr-1 bg-blue-lightest rounded", href="/login") Login
            else
                a(class="flex-1 hover:bg-blue-lighter p-2 mr-1 bg-blue-lightest rounded", href="/users/me") Me
                form(class="flex-1 hover:bg-blue-lighter p-2 mr-1 bg-blue-lightest rounded", action="/logout", method="post")
                    input(type="hidden", name="_csrf", value=csrfToken)
                    button(type="submit") Logout
    //- if !!user.isAdmin
        .flex.flex-wrap.mt-2.mb-2.text-center
            a(class="flex-1 hover:bg-blue-lighter p-2 mr-1 bg-blue-lightest rounded", href="/admin") Admin
            a(class="flex-1 hover:bg-blue-lighter p-2 mr-1 bg-blue-lightest rounded", href="/shops") Shops
            a(class="flex-1 hover:bg-blue-lighter p-2 mr-1 bg-blue-lightest rounded", href="/users") Users
            a(class="flex-1 hover:bg-blue-lighter p-2 mr-1 bg-blue-lightest rounded", href="/lessons") Lessons
    .container.mx-auto.px-2.pt-2.pb-4.flex.flex-wrap.bg-white.rounded
        h1.w-full= pageTitle
        block content