extends ../layouts/main-layout.pug

block content
    .lesson-cards.flex.flex-wrap
        each lesson in lessons
            .lesson-card.w-48.h-64.bg-blue-lightest.rounded.text-center
                a(href="/lessons/"+lesson._id) #{lesson.title}
                if loggedInUser.isAdmin
                        | (#{lesson})
                        | #[a(href="/lessons/"+lesson._id+"/edit").text-sm Edit]
        else
            p Come back soon for the list of courses!