extends ../layout.pug

block content
    .lesson-cards.flex.flex-wrap
        each lesson in lessons
            if (loggedInUser && loggedInUser.isAdmin) || lesson.isActive
                .lesson-card.w-48.h-64.bg-blue-lightest.rounded.text-center.m-2
                    img(src=lesson.cardThumbnail)
                    a(href="/lessons/"+lesson._id) #{lesson.title} 
                    if loggedInUser.isAdmin
                        a(href="/lessons/"+lesson._id+"/edit").text-sm Edit
        if loggedInUser && loggedInUser.isAdmin
            .lesson-card.w-48.h-64.bg-blue-lightest.rounded.text-center.m-2
                a(href="/lessons/create") Create Lesson