extends ../layouts/dev-layout

block content
    h1 Gear
    p.w-full Below are some of the things I use to get and stay productive.
    div.w-full.flex.flex-wrap.items-center
        div(class="description w-3/4 pl-12")
            h3.w-full Wireless Headphones
            p These #[a(href="https://amzn.to/2Tbt8oj") Aukey Latitude Wireless Headphones] are fantastic. 
                | And for $30 (at the time of publishing) they are an absolute steal. I use them on the water, on a bike, running, and working from home
                | I can't give them enough credit. When paired to my phone, the range is pretty good, and I can leave the phone safely charging
                |  while I work around the house.
        div(class="affiliate-link w-1/4 pr-12")
            a(target="_blank" href="https://www.amazon.com/gp/product/B06ZZSQQTD/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B06ZZSQQTD&linkCode=as2&tag=eraslich-20&linkId=449c54e7b6801eb33a6b9457f320c4a3")
                img(border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B06ZZSQQTD&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=eraslich-20")
            img(src="//ir-na.amazon-adsystem.com/e/ir?t=eraslich-20&l=am2&o=1&a=B06ZZSQQTD" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;")
