extends ../layouts/main-layout.pug

block content
    ul
        each shop in shops
            li
                a(href="/shops/"+shop._id) #{shop.name}
                if user.isAdmin
                    |  #[a(href="/shops/"+shop._id+"/edit") Edit]