extends ../layouts/main-layout

block content
    .border.border-b-2.w-full
        p= lesson.content
        p= lesson.createdDate
    .border.border-t-2.w-full
        a(href="/lessons/"+lesson._id+"/quiz") Take the Quiz